* {
  accent:           #ff9e4f;
  accent2:          #7abef5;
  accent3:          #b0d0eb;
  background:       #1f1f1f;
  background-light: #262626;
  foreground:       #e0e0e0;
  on:               #99e09b;
  off:              #f5736c;
}
