/*
 *
 * Author : Aditya Shakya (adi1090x)
 * Mail : adi1090x@gmail.com
 * Github : @adi1090x
 * Reddit : @adi1090x
 *
 */

configuration {
  location: 3;
	yoffset: 48;
  xoffset: 0;
	columns: 5;
	hide-scrollbar: true;
}

@import "orange.rasi"

* {
  text-font:                            "Open Sans 18";

  inputbar-margin:                      3px 3px;
  prompt-padding:                       10px 15px;
  entry-padding:                        10px 0px 10px 0px;
  list-element-padding:                 10px 8px 10px 12px;
  list-element-margin:                  @inputbar-margin;
  list-element-border:                  0px 4px 0px 4px;

  apps-textbox-prompt-colon-padding:    10px -5px 0px 0px;
}

#window {
  width: 12%;
  height: 6.2%;
  padding: 0px 5px;
  border: 2px;
  border-radius: 0px;
}

* {
  background-color: @background;
  text-color: @foreground;
  font: @text-font;
}

inputbar,
prompt,
textbox-prompt-colon,
entry {
  background-color: @background-light;
  border: 0px;
  border-radius: 10px;
}

#inputbar {
  children: [ prompt, textbox-prompt-colon, entry ];
  margin: @inputbar-margin;
}

#prompt {
  padding: @prompt-padding;
  background-color: #4ca9f5;
  text-color: @background;
}

#textbox-prompt-colon {
  expand: false;
  str: "  ";
  padding: @apps-textbox-prompt-colon-padding;
}

#entry {
  text-color: @accent3;
  padding: @entry-padding;
}

#element {
  padding: @list-element-padding;
  margin: @list-element-margin;
  border: @list-element-border;
  background-color: @background-light;
  border-color: @background-light;
  border-radius: 10px;
}

#element.selected {
  background-color: @background-focus;
  text-color: @accent2;
  border-color: @accent3;
  border-radius: 10px;
}
