#PersonalToolbar {
    background-color: var(--inVerba-gray-2) !important;
    padding-left: 2px !important;
}
#PersonalToolbar toolbarbutton.bookmark-item {
    padding: 3px 8px !important; 
    margin-right: 5px !important;
    margin-bottom: 5px !important;
    background: var(--inVerba-gray-2) !important;
    border: 1px outset var(--inVerba-sub-3) !important;
    border-radius: 4px !important;
    color: var(--inVerba-bold) !important;
    font-family: serif, monospace !important;
    transition: var(--inVerba-move) !important;
}
#PersonalToolbar toolbarbutton.bookmark-item:hover
{
    background: var(--inVerba-gray-2) !important;
    border: 1px outset var(--inVerba-emph-2) !important;
    color: var(--inVerba-emph) !important;
    transition: var(--inVerba-move) !important;
}

#PersonalToolbar toolbarbutton.bookmark-item[open=true]
{
    background: var(--inVerba-gray-1) !important;
    border: 1px outset var(--inVerba-emph-2) !important;
    color: var(--inVerba-emph) !important;
}
#personal-bookmarks .bookmark-item .toolbarbutton-icon {
    display: none! important;
} 