/* Separator */
menuseparator,
#contentAreaContextMenu menuseparator,
toolbarseparator,
.bookmarks-actions-menuseparator {
    -moz-appearance: none !important;
    border-color: var(--inVerba-sub-3) !important;
    border-width: 1px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}
/* Reset form elements appereance */
panel richlistbox,
panel tree,
panel button,
panel menulist,
panel textbox,
menupopup,
menu,
menuitem {
    -moz-appearance: none !important;
}

/* Spacing between menu items */
menulist,
menuitem,
menu {
    min-height: 2.5em;
}

/* Menus */
#sidebarMenu-popup toolbarbutton,
panel richlistbox,
panel tree,
panel button,
panel menulist,
panel textbox,
menupopup:not(#BMB_bookmarksPopup),
#main-menubar > menu > menupopup,
#context-navigation {
    color: var(--inVerba-gray-10) !important;
    background-color: var(--inVerba-gray-2) !important;
}
#sidebarMenu-popup toolbarbutton:hover,
panel treechildren::-moz-tree-row(selected),
panel button:hover,
menu:hover,
menu[_moz-menuactive],
menu[open],
menuitem:hover,
menuitem[_moz-menuactive] {
    background-color: var(--inVerba-gray-2) !important;
    color: var(--inVerba-emph) !important;
}

menu[disabled="true"] {
    color: var(--inVerba-gray-6) !important;
}
menuitem[disabled="true"] {
    color: var(--inVerba-gray-6) !important;
}

menulist > menupopup > menuitem,
menulist > menupopup > menucaption,
menulist > menupopup > menu {
  color: var(--inVerba-gray-10) !important;
}

.openintabs-menuitem {
    visibility: collapse !important;
}

.menuitem-with-favicon image {
    display: none !important;
}



.menuitem-iconic {
    margin-left: -5px !important; 
}

.bookmark-item:hover {
    color: var(--inVerba-emph) !important;
    background: none !important;
}

panel panelview {
    color: var(--inVerba-gray-10) !important;
    background-color: var(--inVerba-gray-2)  !important;
    border: none !important;
}

.panel-subview-footer {
    display: none !important;
}

.subviewbutton:hover {
    color: var(--inVerba-emph) !important;
    background-color: var(--inVerba-gray-2)  !important;
}
.panel-arrowcontent {
    background-color: var(--inVerba-gray-2)  !important;
}
.panel-arrowcontainer .panel-arrowbox .panel-arrow {
    fill: var(--inVerba-emph-2) !important;
}
.panel-arrowcontainer .panel-arrowcontent {
    border-color: var(--inVerba-gray-1) !important;
}



/* Context navigation buttons (right-click page) */
#context-navigation menuitem {
    color: var(--inVerba-gray-7) !important;
    background: none !important;
    transition: var(--inVerba-move) !important;
}

#context-navigation menuitem:hover {
    color: var(--inVerba-emph) !important;
    
}

#appMenu-zoomReset-button {
    background-color: var(--inVerba-gray-2) !important;
    border: 1px solid var(--inVerba-sub-2) !important;
    color: var(--inVerba-sub) !important;
    transition: var(--inVerba-move) !important;
}
#appMenu-zoomReset-button:hover {
    color: var(--inVerba-emph-2) !important;
    border: 1px solid var(--inVerba-emph-2) !important;
}
