#sidebar-search-container,
#bookmarks-view,
#historyTree,
[lwt-sidebar] {
  background-color: var(--moonlight-gray-2) !important;
  color: var(--moonlight-gray-10) !important;
  transition: 250ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

#sidebar-splitter{ 
  display: none !important
}

#sidebar-box {
  position: relative !important;
  min-width: 180px !important;
  border: none !important;
  background-color: var(--moonlight-gray-2) !important;
  color: var(--moonlight-gray-10) !important;
  transition: 250ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}


#sidebar-box #sidebar-header {
  border: none !important;
}

#sidebar-box #sidebar-header #sidebar-switcher-target {
  transition: 250ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
  margin: -10px 0px -8px 0px !important;
}

#sidebar-box #sidebar-header #sidebar-switcher-target:hover {
  color: var(--moonlight-blue) !important;
  background-color: transparent !important;
}
#sidebar-box #sidebar-header #sidebar-close {
  visibility: collapse !important;
}

#sidebar-search-container #search-box {
  -moz-appearance: none !important;
  background-color: var(--moonlight-gray-1) !important;
  border: 1px inset var(--moonlight-gray-3) !important;
  color: var(--moonlight-gray-6) !important;
  border-radius: 9px !important;
  transition: 250ms cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

#sidebar-search-container #search-box:focus-within {
  color: var(--moonlight-blue) !important;
}

#sidebar-search-container #viewButton {
  visibility: collapse !important;
}

treechildren::-moz-tree-separator {
  -moz-appearance: none !important;
  border: none !important;
  background: transparent !important;
  min-height: 0px !important;
  max-height: 0px !important;
}
