[lwt-sidebar] {
  background-color: var(--inVerba-gray-2) !important;
}

#bookmarksPanel treechildren::-moz-tree-indentation { 
  width: 0px !important 
}


#sidebar-splitter {
  border: none !important;
  width: 3px !important;
}

#sidebar-splitter:hover {
  background: var(--inVerba-emph) !important;
  transition: var(--inVerba-move) !important;
}

#sidebar-header, #sidebar-search-container, 
#sidebar-box #sidebar-header #sidebar-close {
  visibility: collapse !important;
}

#bookmarks-view treechildren::-moz-tree-twisty,
#historyTree treechildren::-moz-tree-twisty {
  list-style-image: none !important;
  margin-left: -12px !important;
} 