.tabbrowser-tab {
    padding: 2px !important;
    padding-bottom: 3px !important;
}

#tabs-newtab-button .toolbarbutton-icon {
  visibility: collapse !important;
}

toolbarbutton#scrollbutton-up, toolbarbutton#scrollbutton-down,
toolbarbutton#new-tab-button, toolbarbutton#alltabs-button {
    visibility: collapse !important;
}

.tabbrowser-tab .tab-close-button {
    visibility: collapse !important;
}

.tabbrowser-tab .tab-text {
    opacity: 1 !important;
}

.tabbrowser-tab::after {
    display: none !important;
}

.tab-background .tab-line {
    display: none !important;
}

.tab-label {
    -moz-box-flex: 1 !important;
    text-align: center !important;
}

.tabbrowser-tab[label="New Tab"] .tab-content .tab-icon-image {
   display: none !important; 
}

.tabbrowser-tab .tab-stack {
    background: var(--inVerba-gray-2) !important;
    border: 1px outset var(--inVerba-sub-3) !important;
    margin: 2px !important;
    border-radius: 4px !important;
    color: var(--inVerba-bold) !important;
    transition: var(--inVerba-move) !important;
}
.tabbrowser-tab .tab-background {
    border: none !important;
    transition: var(--inVerba-move) !important;
}

.tabbrowser-tab:hover .tab-stack{
    color: var(--inVerba-emph) !important;
    border: 1px outset var(--inVerba-emph-2) !important;
    transition: var(--inVerba-move) !important;
}
.tabbrowser-tab:hover .tab-background {
    background: var(--inVerba-gray-2) !important;
    border-radius: 4px !important;
}
.tabbrowser-tab[selected] .tab-stack {
    border: 1px outset var(--inVerba-sec) !important;
    color: var(--inVerba-sec) !important;
    transition: var(--inVerba-move) !important;
}

.tabbrowser-tab[selected]:hover .tab-stack {
    border: 1px outset var(--inVerba-emph-2) !important;
    color: var(--inVerba-emph) !important;
}

.tabbrowser-tab[selected] .tab-background {
    background: var(--inVerba-gray-2) !important;
    border-radius: 4px !important;    */
}

#tabbrowser-tabs {
  padding
  --uc-tab-curve-size:10px;
  --uc-tabs-scrollbutton-border: 0px;
  --proton-tab-block-margin:0px;
  --tab-min-height: 30px;
}
