.tabbrowser-tab {
    padding: 2px 2px 3px 2px  !important;
}

#tabs-newtab-button .toolbarbutton-icon {
     visibility: collapse !important;
}

toolbarbutton#scrollbutton-up, toolbarbutton#scrollbutton-down,
toolbarbutton#new-tab-button, toolbarbutton#alltabs-button {
    visibility: collapse !important;
}

.tabbrowser-tab .tab-close-button {
    visibility: collapse !important;
}

.tabbrowser-tab .tab-text {
    opacity: 1 !important;
}

.tabbrowser-tab::after {
    visibility: collapse !important;
}

.tab-background .tab-line {
    display: none !important;
}

.tabbrowser-tab[label="New Tab"] .tab-icon-image {
   display: none !important; 
}

.tabbrowser-tab .tab-stack {
    background: var(--inVerba-gray-2) !important;
    border: 1px outset var(--inVerba-sub-3) !important;
    margin: 2px !important;
    margin-right: 0px !important;
    border-radius: 4px !important;
    color: var(--inVerba-bold) !important;
    transition: var(--inVerba-move) !important;
}
.tabbrowser-tab .tab-background {
    border: none !important;
    transition: var(--inVerba-move) !important;
}

.tabbrowser-tab:hover .tab-stack{
    color: var(--inVerba-emph) !important;
    border: 1px outset var(--inVerba-emph-2) !important;
    transition: var(--inVerba-move) !important;
}
.tabbrowser-tab:hover .tab-background {
    background: var(--inVerba-gray-2) !important;
    border-radius: 4px !important;
}
.tabbrowser-tab[selected] .tab-stack {
    border: 1px outset var(--inVerba-sec) !important;
    color: var(--inVerba-sec) !important;
    transition: var(--inVerba-move) !important;
}

.tabbrowser-tab[selected]:hover .tab-stack {
    border: 1px outset var(--inVerba-emph-2) !important;
    color: var(--inVerba-emph) !important;
}

.tabbrowser-tab[selected] .tab-background {
    background: var(--inVerba-gray-2) !important;
    border-radius: 4px !important;  
}

#tabbrowser-tabs {
  --uc-tab-curve-size:10px;
  --uc-tabs-scrollbutton-border: 0px;
  --proton-tab-block-margin:0px;
  --tab-min-height: 24px; 
}

.tab-icon-sound-label {
    visibility: collapse !important;
}

#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox, #tabbrowser-arrowscrollbox{
    min-height: 0 !important; 
    transition: var(--inVerba-move) !important;
}

.accessibility-indicator,
.private-browsing-indicator{ 
  height: unset !important;
}

#tabbrowser-tabs .tabbrowser-tab[first-visible-tab="true"][last-visible-tab="true"] {
  visibility: collapse !important;
}