:root {
    
    --inVerba-main:     #4ca9f5;
    --inVerba-sec:      #7abef5;
    --inVerba-sub:      #b0d0eb; 
    --inVerba-sub-2:    #849cb0;
    --inVerba-sub-3:    #505f6b;
    --inVerba-bold:     #cedeeb;
    --inVerba-neg:      #5f89f5;
    --inVerba-pos:      #f5736c;
    --inVerba-warn:     #eb4972;
    --inVerba-emph:     #f5b17a;
    --inVerba-emph-2:   #b08058;
    --inVerba-stress:   #ff9e4f;
    --inVerba-true:     #57d9c3;
    --inVerba-link:     #99e09b;
    --inVerba-ulink:    #78b07a;
    --inVerba-dlink:    #496b4a;
    --inVerba-purple:   #c28bf0;
    --inVerba-yellow:   #f0dd86;
    --inVerba-gray-11:  #ebebeb;
    --inVerba-gray-10:  #e0e0e0;
    --inVerba-gray-9:   #949494;
    --inVerba-gray-8:   #808080;
    --inVerba-gray-7:   #6b6b6b;
    --inVerba-gray-6:   #4f4f4f;
    --inVerba-gray-5:   #404040;
    --inVerba-gray-4:   #2f2f2f;
    --inVerba-gray-3:   #262626;
    --inVerba-gray-2:   #1f1f1f;
    --inVerba-gray-1:   #141414;
    --inVerba-move:     324ms cubic-bezier(0.69, 0.042, 0.324, 1);
}