 /* 
███████╗██╗██████╗ ███████╗███████╗ ██████╗ ██╗  ██╗ ██████╗███████╗███████╗
██╔════╝██║██╔══██╗██╔════╝██╔════╝██╔═══██╗╚██╗██╔╝██╔════╝██╔════╝██╔════╝
█████╗  ██║██████╔╝█████╗  █████╗  ██║   ██║ ╚███╔╝ ██║     ███████╗███████╗
██╔══╝  ██║██╔══██╗██╔══╝  ██╔══╝  ██║   ██║ ██╔██╗ ██║     ╚════██║╚════██║
██║     ██║██║  ██║███████╗██║     ╚██████╔╝██╔╝ ██╗╚██████╗███████║███████║
╚═╝     ╚═╝╚═╝  ╚═╝╚══════╝╚═╝      ╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚══════╝╚══════╝
 .--.      .-'.      .--.      .--.      .--.      .--.      .`-.
|:::.\::::::::.\::::::::.\::::::::.\::::::::.\::::::::.\::::::::.\
|::::.\:: https://github.com/cullyn-inverba/dotfiles ::.\::::::::.\
|:::::.\::::::::.\::::::::.\::::::::.\::::::::.\::::::::.\::::::::.\
        `--'      `.-'      `--'      `--'      `--'      `-.'      ` 
Hacked version of https://github.com/eduardhojbota/moonlight-userChrome
*/
@import '_variables.css';
@import '_global.css';
@import '_tab-bar.css';
@import '_navigation-bar.css';
@import '_bookmarks-bar.css';
@import '_side-bar.css';
@import '_menu.css';
@import "_megabar-disable.css";

@-moz-document url(chrome://browser/content/browser.xul),
               url(chrome://browser/content/browser.xhtml) {

  /* hide horizontal tabs at the top of the window */
  /* #TabsToolbar > * {
    visibility: collapse;
  } */

  /* hide navigation bar when it is not focused; use Ctrl+L to get focus */
  #main-window:not([customizing]) #navigator-toolbox:not(:focus-within) {
    margin-top: -40px;
  }

  #navigator-toolbox {
    transition: 324ms cubic-bezier(0.69, 0.042, 0.324, 1) margin-top;
  }

  /* hide the "Tree Style Tab" header at the top of the sidebar (only Tree Style Tab sidebar) */
  #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    display: none;
  }

}