* {
  main:             #4ca9f5;
  sec:              #7abef5;
  sub:              #b0d0eb;
  sub-dim:          #849cb0;
  bold:             #cedeeb;
  background:       #1f1f1f;
  background-alt:   #262626;
  foreground:       #e0e0e0;
  on:               #99e09b;
  off:              #f5736c;
  urgent:           #eb4972;
  emphasis:         #f5b17a;
}
